node_modules
./*/node_modules
./*/*/node_modules
./*/*/*/node_modules
./*/*/*/*/node_modules
./*/*/*/*/*/node_modules
dist
./*/dist
./*/*/dist
./*/*/*/dist
./*/*/*/*/dist
./*/*/*/*/*/dist
./*/*/*/*/*/*/dist

./*/*/*/.parcel-cache

./*/VideoPlayer

*.DS_Store
.parcel-cache
.vscode
.cache
.babelrc
.parcelrc
.proxyrc.js
certificate.*
package-lock.json
dist
.eslintrc.json