<html>
  <head>
    <title>Home</title>
    <style>
      body {
        font-family: sans-serif;
      }
      .console {
        font-family: monospace;
        background-color: #eee;
        padding: 10px;
        border-radius: 5px;
        overflow-wrap: anywhere;
      }
      .console img {
        margin: 5px;
        border-radius: 8px;
      }
    </style>
    <script src="static/js/Camera.js" type="text/javascript"></script>
    <script src="static/js/App.js" type="text/javascript"></script>
  </head>
  <body>
    <h1>Home</h1>
    <p>
      <button id="extraction">Extraire les features</button>
      <button id="annoy">Build annoy</button>
      <button id="search">Get Similar</button>
    </p>
    <div class="container"></div>
    <p class="console"></p>
  </body>
</html>
